In [2]:
import os
import numpy as np
import pandas as pd

In [4]:
# Import results
RESULTS_PATH = os.path.join('..', 'data', 'results')

pca_df = pd.read_csv(os.path.join(RESULTS_PATH, 'pcr_results.csv'))
pca_df

   num_components          mse
0             1.0  4524.018520
1             2.0   516.873620
2             3.0   484.869192
3             5.0   481.270942
4            10.0   426.216375
5            15.0   412.171071
6            20.0   399.109070
7            25.0   366.782639
8            50.0   307.355949
9           100.0   231.751525

In [5]:
aenn_df = pd.read_csv(os.path.join(RESULTS_PATH, 'aenn_results.csv'))
aenn_df

   activation      layers  num_epochs          mse
0        relu        deep          10  1074.289408
1        relu        deep         100  1074.289408
2        relu        deep        1000  1074.289408
3        relu        deep       10000  1074.289408
4        relu      medium          10  1742.411749
5        relu      medium         100  1742.411749
6        relu      medium        1000  1742.411749
7        relu      medium       10000  1742.411749
8        relu     shallow          10  1732.283164
9        relu     shallow         100  1732.283164
10       relu     shallow        1000  1732.283164
11       relu     shallow       10000  1732.283164
12       relu  sigmoidOut         100  1742.411749
13    sigmoid        deep          10     5.665386
14    sigmoid        deep         100     5.665386
15    sigmoid        deep        1000     5.665386
16    sigmoid        deep       10000     5.665386
17    sigmoid      medium          10     5.653316
18    sigmoid      medium         100     5.653316
19    sigmoid      medium        1000     5.653316
20    sigmoid      medium       10000     5.653316
21    sigmoid     shallow          10     5.649318
22    sigmoid     shallow         100     5.649318
23    sigmoid     shallow        1000     5.649318
24    sigmoid     shallow       10000     5.649318
25    sigmoid   symmetric         100     5.653316

In [10]:
# combine both
# aenn_df['method'] = 'autoencoder'
aenn_df['description'] = aenn_df['activation'] + ", " + aenn_df['layers'] + ", " + aenn_df['num_epochs'].astype(str) +

In [11]:
aenn_df

   activation      layers  num_epochs          mse              description
0        relu        deep          10  1074.289408           relu, deep, 10
1        relu        deep         100  1074.289408          relu, deep, 100
2        relu        deep        1000  1074.289408         relu, deep, 1000
3        relu        deep       10000  1074.289408        relu, deep, 10000
4        relu      medium          10  1742.411749         relu, medium, 10
5        relu      medium         100  1742.411749        relu, medium, 100
6        relu      medium        1000  1742.411749       relu, medium, 1000
7        relu      medium       10000  1742.411749      relu, medium, 10000
8        relu     shallow          10  1732.283164        relu, shallow, 10
9        relu     shallow         100  1732.283164       relu, shallow, 100
10       relu     shallow        1000  1732.283164      relu, shallow, 1000
11       relu     shallow       10000  1732.283164     relu, shallow, 10000
12       relu  sigmoidOut         100  1742.411749    relu, sigmoidOut, 100
13    sigmoid        deep          10     5.665386        sigmoid, deep, 10
14    sigmoid        deep         100     5.665386       sigmoid, deep, 100
15    sigmoid        deep        1000     5.665386      sigmoid, deep, 1000
16    sigmoid        deep       10000     5.665386     sigmoid, deep, 10000
17    sigmoid      medium          10     5.653316      sigmoid, medium, 10
18    sigmoid      medium         100     5.653316     sigmoid, medium, 100
19    sigmoid      medium        1000     5.653316    sigmoid, medium, 1000
20    sigmoid      medium       10000     5.653316   sigmoid, medium, 10000
21    sigmoid     shallow          10     5.649318     sigmoid, shallow, 10
22    sigmoid     shallow         100     5.649318    sigmoid, shallow, 100
23    sigmoid     shallow        1000     5.649318   sigmoid, shallow, 1000
24    sigmoid     shallow       10000     5.649318  sigmoid, shallow, 10000
25    sigmoid   symmetric         100     5.653316  sigmoid, symmetric, 100